button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  button.relative {
    position: relative;
  }
  
  button.relative .absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  button .animate-pulse {
    animation: pulse-animation 1.5s infinite;
  }
  
  button span {
    position: relative;
    z-index: 1; /* Pastikan teks tombol berada di depan animasi */
  }
  
  @keyframes pulse-animation {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  